body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-top:100px;
	padding-bottom: 100px;
}

.title {
	position: relative;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.title::after {
	position: absolute;
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	content: "";
	width: 40px;
	height: 5px;
	background-color: rgba(0,0,0, 0.3);
}

.image_wrapper {
	position: relative;
}

.image_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image_wrapper .hover  {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00A7E3;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.image_wrapper .hover:hover {
	opacity: 1;
}

.image_wrapper .hover .icon {
	width: 40px;
	height: 40px;
	background-color: #00BCEE;
	color: white;
	text-align: center;
	cursor: pointer;
}

.image_wrapper .hover .icon + .icon {
	margin-left: 10px;
}

.image_wrapper .hover .icon i {
	line-height: 40px;
	font-size: 20px;
}

.text_wrapper {
	padding: 10px 0;
}

.text_wrapper h3 {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 0;
}

.text_wrapper p {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 18px;
	margin: 0;
}
